// Blueprint | Summer of Dev | MIT License


// Breakpoints
$slicer-breakpoints: 0 400px 600px 800px 1050px;


// Folders
$img: '../img';
$font: '../font';


// Color Palette



// Typography
$arial: "Arial", sans-serif;

$base-font-family: $arial;
$header-font-family: $base-font-family;

$base-font-size: 1em;
$base-line-height: 140%;
