/*
    Grid
 */
.grid {
    display: flex;
    flex-wrap: wrap;

    @include from('small') {
        margin-right: -$grid-gutter-width;
        margin-left: -$grid-gutter-width;
    }

    @include print {
        margin-right: -$grid-gutter-width;
        margin-left: -$grid-gutter-width;
    }
}



// Columns
@include make-grid(sm);

@include from('small') {
    @include make-grid(md);
}

@include from('normal') {
    @include make-grid(lg);
}
