/*
    Type
 */
html {
    font-family: $font-primary;
    font-size: 16px;
    line-height: $spacing-primary;
    text-rendering: geometricPrecision;

    // -webkit-tap-highlight-color: rgba(0,0,0,0); // Reset
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}



// Headings
h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}



// Normal text
p {
}

strong {
}

em {
}

address {
}



// Link
a {
    color: $color-primary;

    &:hover {
        text-decoration: none;
    }
}



// Transformation
.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}



// Alignment
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
