// Blueprint | Summer of Dev


// Breakpoints
$slicer-breakpoints: 0 400px 600px 800px 1020px 1200px;


// Folders
$folder-img: '../img';
$folder-font: '../font';


// Colors



// Typography
$font-arial: "Arial", sans-serif; // Remove if not used
