/*
    Grid
 */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



// Row
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



// Column
.column {
    display: flex;
    flex-direction: column;
}

@include make-grid(sm);

@include from('small') {
    @include make-grid(md);
}

@include from('regular') {
    @include make-grid(lg);
}



// Constraint
.constrain-width {
    max-width: $constraint-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $padding-width;
    padding-left: $padding-width;

    &.md {
        max-width: $constraint-width-md;
    }
}
